<div class="col-lg-12" style="background: #e7e7e7;">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span class="pull-left">
      <a href="javascript:void(0);" (click)="toggleClass()" class="navbar-brand" style="font-size:12px;padding-left:2px;">
        <i class="fa fa-navicon fa-2x"></i></a>
    </span>
    <a class="navbar-brand" [routerLink]="['']">SeedLinked</a>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">

    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-fw"></i>
      </a>

    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li>
          <a href="javascript:void(0)">{{loggeinuserdetail.firstName}} {{loggeinuserdetail.lastName}}</a>
        </li>
        <li>
          <a href="javascript:void(0)" (click)="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
    <li>
      {{loggeinuserdetail.userType}}
    </li>
  </ul>

</div>

  <div class="row-offcanvas row-offcanvas-left sidebar" role="navigation">
    <!-- sidebar -->
    <div class="column col-lg-2 col-xs-1 sidebar-offcanvas sidebar-nav navbar-collapse" id="sidebar">
      <!--<ul class="nav" id="menu">-->
        <!--<li><a href="#"><i class="fa fa-list-alt"></i> <span class="collapse in hidden-xs">Link 1</span></a></li>-->
        <!--<li><a href="#"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Stories</span></a></li>-->
        <!--<li><a href="#"><i class="fa fa-paperclip"></i> <span class="collapse in hidden-xs">Saved</span></a></li>-->
        <!--<li><a href="#"><i class="fa fa-refresh"></i> <span class="collapse in hidden-xs">Refresh</span></a></li>-->
        <!--<li>-->
          <!--<a href="#" data-target="#item1" data-toggle="collapse"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Menu <span class="caret"></span></span></a>-->
          <!--<ul class="nav nav-stacked collapse left-submenu" id="item1">-->
            <!--<li><a href="google.com">View One</a></li>-->
            <!--<li><a href="gmail.com">View Two</a></li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="#" data-target="#item2" data-toggle="collapse"><i class="fa fa-list"></i> <span class="collapse in hidden-xs">Menu <span class="caret"></span></span></a>-->
          <!--<ul class="nav nav-stacked collapse" id="item2">-->
            <!--<li><a href="#">View One</a></li>-->
            <!--<li><a href="#">View Two</a></li>-->
            <!--<li><a href="#">View Three</a></li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">Link</span></a></li>-->
      <!--</ul>-->

      <ul class="nav" id="menu">

        <li>
          <a [routerLink]="['/dashboard']" class="menu-icon" *ngIf="isAuthenticate('dashboard');">
            <i class="fa fa-dashboard fa-fw"></i>&nbsp;<span class="collapse in hidden-xs">Dashboard</span></a>
        </li>
        <li>
          <a [routerLink]="['/myfarm']" class="menu-icon" *ngIf="isAuthenticate('myfarm');">
            <i class="fa fa-fire" aria-hidden="true"></i>&nbsp;&nbsp;<span class="collapse in hidden-xs"> My Farm</span></a>
        </li>
        <li>
          <a [routerLink]="['/my-bio-region']" class="menu-icon" *ngIf="isAuthenticate('mybioregion');">
            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;<span class="collapse in hidden-xs"> My Bioregion</span></a>
        </li>
        <li>
          <a [routerLink]="['/seed-search']"  class="menu-icon" *ngIf="isAuthenticate('seedsearch');">
            <i class="fa fa-search" aria-hidden="true"></i>&nbsp;<span class="collapse in hidden-xs">Seed Search</span></a>
        </li>
        <li>
          <a [routerLink]="['/users']" class="menu-icon" *ngIf="isAuthenticate('users');">
            <i class="fa fa-users" aria-hidden="true"></i>&nbsp;<span class="collapse in hidden-xs">Users</span></a>
        </li>

        <li>
          <a [routerLink]="['/user-role']" class="menu-icon" *ngIf="isAuthenticate('users');">
            <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;<span class="collapse in hidden-xs">User Role</span></a>
        </li>

      </ul>
    </div>
    <!-- /sidebar -->

  </div>