<section class="probootstrap-section probootstrap-bg-light" data-section="pricing">
  <div class="container">
    <div class="row text-center mb100">
      <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
        <h2 class="mb30 text-black probootstrap-heading">Sell your seed </h2>
        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
      </div>
    </div>
    <!-- END row -->
    <div class="row">
      <div class="col-md-4">
        <div class="probootstrap-pricing">
          <h2>Starter</h2>
          <p class="probootstrap-price"><strong>$22.99</strong></p>
          <p class="probootstrap-note">This is a monthly recurring payment.</p>
          <ul class="probootstrap-list text-left mb50">
            <li class="probootstrap-check">Pointing has no control</li>
            <li class="probootstrap-check">A small river named Duden flows</li>
            <li class="probootstrap-check">Roasted parts of sentences fly into your mouth</li>
          </ul>
          <p><a href="#" class="btn btn-black">Get Started</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="probootstrap-pricing probootstrap-popular probootstrap-shadow">
          <h2>Business</h2>
          <p class="probootstrap-price"><strong>$69.99</strong></p>
          <p class="probootstrap-note">This is a monthly recurring payment.</p>
          <ul class="probootstrap-list text-left mb50">
            <li class="probootstrap-check">Pointing has no control</li>
            <li class="probootstrap-check">A small river named Duden flows</li>
            <li class="probootstrap-check">Roasted parts of sentences fly into your mouth</li>
          </ul>
          <p><a href="#" class="btn btn-primary">Get Started</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="probootstrap-pricing">
          <h2>Premium</h2>
          <p class="probootstrap-price"><strong>$224.99</strong></p>
          <p class="probootstrap-note">This is a monthly recurring payment.</p>
          <ul class="probootstrap-list text-left mb50">
            <li class="probootstrap-check">Pointing has no control</li>
            <li class="probootstrap-check">A small river named Duden flows</li>
            <li class="probootstrap-check">Roasted parts of sentences fly into your mouth</li>
          </ul>
          <p><a href="#" class="btn btn-black">Get Started</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section -->