<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <!--<h3 class="card-title">Register</h3>-->
        <form name="uploadForm" (ngSubmit)="(upf.form.valid && upload(upf))" #upf="ngForm" novalidate class="form-horizontal">
          <div class="card-body">

              <div class="form-group" [ngClass]="{ 'has-error': upf.submitted && !aboutFile.valid }">
                <label class="control-label col-md-3" for="aboutFile">About File(s):</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" placeholder="Description about upload files" name="aboutFile" id="aboutFile" [(ngModel)]="uploadFileModel.aboutFile" #aboutFile="ngModel" required>
                  <div *ngIf="upf.submitted && !aboutFile.valid" class="help-block">About File is required</div>
                </div>
              </div>

              <div class="form-group" [ngClass]="{ 'has-error': !fileInputValidation }">
                <label class="control-label col-md-3">Upload Pictures:</label>
                <div class="col-md-8">
                  <input type="file" name="fileInput" #fileInput placeholder="Upload file..." multiple required class="form-control"/>
                  <div *ngIf="!fileInputValidation" class="help-block">Atleast one file should select</div>
                </div>
              </div>

          </div>
          <div class="card-footer1">
            <div class="row">
              <div class="col-md-8 col-md-offset-3">
                <button [disabled]="loading" class="btn btn-primary icon-btn" value="upload">
                  <i class="fa fa-fw fa-lg fa-check-circle"></i>Upload</button>
              </div>
            </div>
            <div class="col-md-5 col-md-offset-4">
            <app-alert></app-alert>
            </div>
          </div>
        </form>

        <hr>

        <div class="bs-element-section">
          <div class="row">
            <div class="col-lg-12">
              <div class="page-header">
                <h4 id="typography">Uploaded Pictures</h4>
              </div>
            </div>
          </div>
          <!-- Headings-->
          <div class="row">
            <div class="col-lg-3" *ngFor="let imageFile of galleryFiles; let i = index;">
              <div class="bs-component">
                <a href="javascript:void(0);" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="{{baseApiUrl}}{{baseFolderUrl}}{{imageFile.fileUrl}}" alt="{{imageFile.aboutFile}}" width="200" height="200">
                </a>
                <br>
                <label>{{imageFile.aboutFile}} on {{imageFile.addedDate}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [style.display]="loading ? 'block' : 'none'" class="seed-loading-div"><div class="seed-loading-text"></div></div>